:root{
    --body: #080326;
    --font: #D929CD;
    --bluedark: #F20F62;
    --blue: #0E1B3D;
    --yellow: #F2E527;
    --red: #F5534F;
    --white: #fff;
}

*{
    padding: 0px;
    margin: 0px;
}

a{
	color: var(--yellow);
	text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 10px;
  }

body,html{
    background: var(--blue);
    font-family: 'Ubuntu', sans-serif;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }

  .pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
  }
  

.error_get{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    color: #fff;
}

.error_get h1,h2{
    line-height: 50px;
}

.background{
    position: fixed;
    top: 0%;
    left: 0%;
    background-image: url("/assets/img/background.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
}

.overlay{
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(0,0,0,.50);
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 2;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(70% - 50px);
    height: calc(90% - 50px);
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
    overflow: hidden;
}

.padding{
    padding: 40px;
}

.textwhite{
    color: var(--white);
}

.account .left{
    position: absolute;
    left: 0px;
    float: left;
    width: 50%;
    height: 100%;
    background-color: var(--body);
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: auto;

}

.account .right{
    position: absolute;
    right: 0px;
    float: right;
    width: 50%;
    height: 100%;
    background: transparent;
    transition: 0.5s;
}

.account h1{
    font-size: 2.4em;
}

.friends{
    width: calc(100% + 80px);
    height: 90%;
    position: relative;
    top: 20px;
    left: -40px;
    background-size: cover;
    background-image: url("https://i.imgur.com/lTKWRNF.gif");
}

.opacity{
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, var(--body) 100%);
    width: 100%;
    height: 75%;
    position: absolute;
    top: -4px;
}

.opacitybottom{
    background: linear-gradient(0deg, var(--body) 0%, rgba(245,83,79,0) 100%);
    bottom: -4px;
    width: 100%;
    height: 75%;
    position: absolute;
}

.account .centerbro{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -50%);
    z-index: 20;
}

.account .centerbro .cadastrar{
    color: var(--font);
    padding: 20px;
    background: var(--white);
    border-radius: 50%;
    font-size: 25px;
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
    cursor: pointer;
    text-align: center;
    z-index: 5;
    transition: 0.5s;
    background: #fff;
	width: 25px;
	height: 25px;
}

.account .right .image_ilustration{
    width: 100%;
    height: 460px;
    background-size: cover;
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
}

.account .right h1{
    font-size: 2em;
    padding: 10px;
}

.account .right .opacity{
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, var(--body) 100%);
    width: 100%;
    height: 230px;
    position: relative;
    top: -4px;
    transform: scale(1.02);
}

.account .right .opacitybottom{
    background: linear-gradient(0deg, var(--body) 0%, rgba(245,83,79,0) 100%);
    bottom: -4px;
    width: 100%;
    height: 230px;
    position: relative;
    transform: scale(1.02);
}

.account .right .opacitybottom .postagem{
		position: relative;
		top: 140px;
		text-align: center;
}

.account .right .opacitybottom .postagem h1{
	font-size: 22px;
}

.account .right .opacitybottom .postagem p{
	font-size: 18px;
}

.account .left .form{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
}

.account .left .form input{
    width: 60%;
    position: relative;
    left: 0%;
    border: none;
    outline: none;
    padding: 15px 70px;
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
    border-radius: 30px;
    font-size: 18px;
    top: -40px;
}

.account .left .form h1,h2{
    position: relative;
    top: -45px;
}

.account .left .form button{
    padding: 20px;
    border: none;
    font-size: 28px;
    outline: none;
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
    border-radius: 50%;
    background: #fff;
    color: var(--font);
    position: relative;
    left: -40px;
    top: -35px;
    cursor: pointer;
}

.account .left .form button:hover{
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.95);
    -moz-box-shadow: 15px 10px 59px 5px rgba(0,0,0,0.95);
    box-shadow: 15px 10px 59px 5px rgba(0,0,0,0.95);
    transition: 0.5s;
}

.account .right{
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--body);
}

@media screen and (max-width: 1304px) {
	
	.center{
		height: calc(100% - 20px);
		width: calc(80% - 20px);
	}
	
	.center .left .form h1,h2{
		position: relative;
		top: 0px;
	}
}

@media screen and (max-width: 1024px) {
    .center{
        width: calc(100% - 50px);
        height: calc(100% - 50px);
    } 
	

}

@media screen and (max-width: 640px) {
    .center{
        width: calc(100% - 0px);
        height: calc(100% - 0px);
    }
    
    .center .left{
        width: 100%;
    }

    .center .right{
        display: none;
    }

    .centerbro{
        top: 90% !important;
    }
	
	#login button{
		left: 80px !important;
    }
	
}

@media screen and (max-width: 731px) {
	
	#login button{
		left: 90px !important;
	}
	
}

@media screen and (max-width: 1024px) {
    .center{
        width: calc(100% - 0px);
        height: calc(100% - 0px);
    }
    
    .center .left{
        width: 100%;
    }

    .center .right{
        display: none;
    }

    .centerbro{
        top: 90% !important;
    }

    .center #register .icon{
        top: 53px;
        left: -22% !important;
    }
	
	#login .icon{
		left: -31% !important;
	}


	#login button{
		left: 200px !important;
	}

}

@media screen and (max-width: 576px) {
	
	#login button{
		left: 140px !important;
	}
	
}


.center .left .form .icon{
    position: relative;
    left: -31.40%;
    top: 19px;
    z-index: 5;
    background: var(--bluedark);
    width: 40px;
    border-radius: 30px;
    height: 30px;
    padding: 5px;
}

.center .left .form .icon i{
    position: relative;
    font-size: 22px;
    top: 5px;
    color: #fff;
}

.center .left #register{
    left: -200%;
}

.form{
    transition: 1s;
}

.center #register .icon{
    top: 5px;
    left: -25%;
}

.centerbro .desc{
	background: var(--white);
	padding: 6px;
	position: relative;
	top: -10px;
	border-radius: 20px;
	font-size: 18px;
	height: 20px;
	left: -15px;
	text-align: center;
	transition: 0.4s;
	width: 90px;
}

.logo{
    color: var(--white);
    cursor: pointer;
    z-index: 5;
    width: 100%;
    background: var(--bluedark);
    padding: 10px;
    left: 0px;
    top: 0px;
}

.post_preview{
    position: relative;
    width: 220px;
    height: 220px;
    background: var(--red);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
}

.post_preview img{
    width: 100%;
    height: 100%;
}

.post_preview .overlay{
    background: linear-gradient(0deg, rgb(49, 58, 135) 0%, rgba(0,0,0,0) 100%); transform: scale(1.1); 
    width: 95.7%;
    height: 95.7%;
    position: absolute;
}

.controle{
    position: relative;
    width: 100%;
    transform: scale(1.05);
    height: 450px;
    background-image: url("https://i.imgur.com/lTKWRNF.gif");
    background-size: cover;
    top: 0px;
    left: 0px;
    font-size: 13px;
}

.controle button{
    width: 40%;
    padding: 40px;
    border: none;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    background: var(--bluedark);
    color: var(--white);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.95);
    -moz-box-shadow: 15px 10px 59px 5px rgba(0,0,0,0.95);
    box-shadow: 15px 10px 59px 5px rgba(0,0,0,0.95);
    cursor: pointer;
}

.footer{
    position: absolute;
    bottom: 0px;
    background: var(--bluedark);
    width: 100%;
    height: 100px;
    left: 0px;
}