:root{
    --body: #F8E9E9;
    --font: #1C213F;
    --bluedark: #1C213F;
    --blue: #313A87;
    --yellow: #F3B900;
    --red: #F5534F;
    --white: #F8E9E9;
}

*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 10px;
  }

body,html{
    background: var(--blue);
    font-family: 'Ubuntu', sans-serif;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }

  .pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
  }
  

.error_get{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    color: #fff;
}

.error_get h1,h2{
    line-height: 50px;
}

.background{
    position: fixed;
    top: 0%;
    left: 0%;
    background-image: url("/assets/img/background.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
}

.overlay{
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(0,0,0,.50);
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 2;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bluedark);
    width: calc(70% - 50px);
    height: calc(70% - 50px);
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
    overflow: hidden;
}

.padding{
    padding: 40px;
}

.textwhite{
    color: var(--white);
}

.account .left{
    position: absolute;
    left: 0px;
    float: left;
    width: 50%;
    height: 100%;
    background-color: var(--red);
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: hidden;

}

.account .right{
    position: absolute;
    right: 0px;
    float: right;
    width: 50%;
    height: 100%;
    background: transparent;
    transition: 0.5s;
}

.account h1{
    font-size: 2.4em;
}

.account .left .friends{
    width: calc(100% + 80px);
    height: 90%;
    position: relative;
    top: 20px;
    left: -40px;
    background-size: cover;
    background-image: url("https://static1.squarespace.com/static/53bd92bbe4b0b8633f92a5af/59ff3930e2c483f6d0565405/59ff3986e2c483f6d0565c8e/1509898639956/Impressing+my+best+friends.jpg?format=1000w");
}

.account .opacity{
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(245,83,79,1) 100%);
    width: 100%;
    height: 75%;
    position: absolute;
    top: -4px;
}

.opacitybottom{
    background: linear-gradient(0deg, rgba(245,83,79,1) 0%, rgba(245,83,79,0) 100%);
    bottom: -4px;
    width: 100%;
    height: 75%;
    position: absolute;
}

.account .centerbro{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.account .centerbro .cadastrar{
    color: var(--font);
    padding: 20px;
    background: var(--white);
    border-radius: 50%;
    font-size: 25px;
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
    cursor: pointer;
    text-align: center;
    z-index: 5;
    transition: 0.5s;
    background: #fff;
}

.account .centerbro:hover{
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.95);
-moz-box-shadow: 15px 10px 59px 5px rgba(0,0,0,0.95);
box-shadow: 15px 10px 59px 5px rgba(0,0,0,0.95);
    border-radius: 50%;
}

.account .right .image_ilustration{
    width: 100%;
    height: 460px;
    background-size: cover;
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
}

.account .right h1{
    font-size: 2em;
    padding: 10px;
}

.account .right .opacity{
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, var(--bluedark) 100%);
    width: 100%;
    height: 230px;
    position: relative;
    top: -4px;
    transform: scale(1.02);
}

.account .right .opacitybottom{
    background: linear-gradient(0deg, var(--bluedark) 0%, rgba(245,83,79,0) 100%);
    bottom: -4px;
    width: 100%;
    height: 230px;
    position: relative;
    transform: scale(1.02);
}

.account .left .form{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
}

.account .left .form input{
    width: 60%;
    position: relative;
    left: 0%;
    border: none;
    outline: none;
    padding: 15px 70px;
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
    border-radius: 30px;
    font-size: 18px;
    top: -40px;
}

.account .left .form h1,h2{
    position: relative;
    top: -45px;
}

.account .left .form button{
    padding: 20px;
    border: none;
    font-size: 28px;
    outline: none;
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.75);
    border-radius: 50%;
    background: #fff;
    color: var(--font);
    position: relative;
    left: -40px;
    top: -35px;
    cursor: pointer;
}

.account .left .form button:hover{
    -webkit-box-shadow: 10px 10px 49px -5px rgba(0,0,0,0.95);
    -moz-box-shadow: 15px 10px 59px 5px rgba(0,0,0,0.95);
    box-shadow: 15px 10px 59px 5px rgba(0,0,0,0.95);
    transition: 0.5s;
}

.account .right{
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (max-width: 1304px) {
	
	.center{
		height: calc(90% - 20px);
		width: calc(80% - 20px);
	}
	
	.center .left .form h1,h2{
		position: relative;
		top: 0px;
	}
}

@media screen and (max-width: 1024px) {
    .center{
        width: calc(100% - 50px);
        height: calc(100% - 50px);
    }   
}

@media screen and (max-width: 640px) {
    .center{
        width: calc(100% - 0px);
        height: calc(100% - 0px);
    }
    
    .center .left{
        width: 100%;
    }

    .center .right{
        display: none;
    }

    .centerbro{
        top: 90% !important;
    }
}

@media screen and (max-width: 1024px) {
    .center{
        width: calc(100% - 0px);
        height: calc(100% - 0px);
    }
    
    .center .left{
        width: 100%;
    }

    .center .right{
        display: none;
    }

    .centerbro{
        top: 90% !important;
    }

    .center #register .icon{
        top: 53px;
        left: -27% !important;
    }
}



.center .left .form .icon{
    position: relative;
    left: -31.40%;
    top: 25px;
    z-index: 5;
    background: var(--bluedark);
    width: 40px;
    border-radius: 30px;
    height: 30px;
    padding: 12px;
}

.center .left .form .icon i{
    position: relative;
    font-size: 22px;
    top: 5px;
}

.center .left #register{
    left: -200%;
}

.form{
    transition: 1s;
}

.center #register .icon{
    top: 13px;
    left: -25%;
}
